---
layout: default
id: overview
nav-order: 1
title: Overview
intro: Love beckons as romance envelops this heart-stirring time of year. Let us inspire you with breaks and getaways that promise to offer you and that special someone the chance to sneak away and enjoy quality time in opulent surroundings.

banner:
  title: Romantic Breaks
  title-sub: In Partnership With <img class="js-svg-swap logo logo--partner" src="{{ site.baseurl }}/img/logo/partner.png" alt="{{site.client.name}} Logo">

---

<div class="row row--xxl row--padding">
  <div class="border">
    <div class="row boxpad--lg text--center bg--white ">
      <div class="line-length--lg">
        <p class="text--xl">{{page.intro}}</p>
        <p>Discover secret romance this Valentine’s, with a handpicked selection of unique experiences guaranteed to woo your loved ones. Browse curated Secret Escapes offers in iconic, romantic destinations and don’t miss the exclusive competition prize from LINDOR, to make your stay that little bit more blissful…</p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="space--lg"></div>
  <div class="row row--6-6-gutters row--padding">
    {% assign site-sections = site.html_pages | sort:"nav-order" %}
    {% for section in site-sections %}
      {% unless section.id == 'overview' or section.id == 'lindor' or section.id == 'entered' or section.id == 'terms' %}
      <div class="col">
        <div class="bg-img bg-img--3-2 border" style="background-image: url('{{site.baseurl}}/img/content/overview-nav/{{section.id}}.jpg');">
          <a href="{{site.baseurl}}/{{section.id}}" class="bg-img__link"></a>
          <div class="bg-img__content">
            <hr class="hr--sm hr--white">
            <div class="title title--lg title--upper">{{section.title}}</div>
            <hr class="hr--sm hr--white">
          </div>
        </div>
      </div>
      {% endunless %}
    {% endfor %}
  </div>
</div>

<div class="section row--padding text--center">
  <div class="row">
    <h3 class="title title--md title--italic text--red-dark">Our Romantic Travellers</h3>
    <hr>
  </div>
  <div class="row row--xxl row--padding row--4-4-4-gutters text-center">
    {% assign experts = site.data.experts %}
    {% for expert in experts %}
    <div class="col">
      <div class="expert border bg-img bg-img--1-1" style="background-image: url({{ site.baseurl }}/img/content/experts/{{ expert.class }}.jpg);">
        <a href="#" class="expert__link js-open-modal" data-open-modal="{{ expert.class }}">
          <span class="expert__title title title--sm">
            {{ expert.name1 }}{% if expert.name2 %} & {{ expert.name2 }}{% endif %}
          </span>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="space--xl"></div>
</div>