<section class="section--padding-none section--white-bg">
  <div class="competition-section row--columns-6-6 row--columns-vertical-align clearfix align-center">
    <div class="row__column">
      <div class="competition-section__content">
        <div class="competition-section__wrap row--padding">
          <h2 class="title title--lg title--margin title--hr">Win with LINDOR</h2>

          <p class="lead-paragraph">Book any hotel with Secret Escapes and be in with a chance to have your break reimbursed in full.</p>

          <a href="{{site.baseurl}}/offers" class="btn btn--solid btn--large">Find out more</a>
          <img width="70" src="{{ site.baseurl }}/img/logo/lindor.png" alt="LINDOR" class="image-inline">
        </div>
      </div>
    </div>
    <div class="competition-section__image row__column bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/bg/block-competition.jpg');"></div>
  </div>
</section>