<section class="section--padding-none section--white-bg">
  <div class="competition-section row--columns-6-6 row--columns-vertical-align clearfix align-center">

    <div class="competition-section__content row__column">
      <h2 class="title title--md title--margin">Win with Lindor</h2>
      <p class="lead-paragraph">Book now to be in with a chance to have your perfect break paid for courtesy of Lindor</p>
      <p>We will select 5 iconic Romantic Breaks for members who have booked from 27 Jan – 13 Feb (sponsored by Lindor). Essentially 5 of our member will end up getting their breaks paid in full in the run up to Valentine’s day.</p>
      <a href="{{site.baseurl}}/competition" class="btn">Enter now</a>
    </div>

    <div class="competition-section__image row__column bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/bg/banner-competition.jpg');">

    </div>

  </div>
</section>