<section class="section--padding-none section--white-bg">
  <div class="competition-section row--columns-6-6 row--columns-vertical-align clearfix align-center">

    <div class="competition-section__content row__column">
      <h2 class="title title--md title--margin">Win with Lindor</h2>
      <p class="lead-paragraph">Break paid for comp</p>
      <a href="{{site.baseurl}}/competition" class="btn">Enter now</a>
    </div>

    <div class="competition-section__image row__column bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/bg/banner-competition.jpg');">

    </div>

  </div>
</section>