<!-- Modal containing expert content which is hidden / shown on click -->
{% assign experts = site.data.experts %}

<div class="js-modal modal is-closed">
  <div class="modal__wrap row row--thin">
    <div class="js-close-modal modal__close"></div>
  </div>
  <div class="modal__wrap row row--thin js-modal-scroll">

    {% for expert in experts %}
      <div class="modal__content modal__expert modal__expert--{{ expert.class }}">
        <div class="section row row--padding row--columns-3-9-gutters row--columns-vertical-align">
          <div class="row__column expert bg-image-ratio bg-image-ratio--1-1" style="background-image: url({{ site.baseurl }}/img/content/expert-{{ expert.class }}.jpg);"></div>
          <div class="row__column">
            <h4 class="title title--lg">
              {{ expert.name1 }}
              {% if expert.name2 %}
                & {{ expert.name2 }}
              {% endif %}
            </h4>
          </div>
        </div>
        {% for question in expert.questions %}
          <div class="section row--padding modal__question">
            <p><strong>{{ question.question }}</strong></p>
            {{ question.answer }}
          </div>
        {% endfor %}
      </div>
    {% endfor %}

  </div>
</div>