
{% if include.class == 'feature' %}

<div class="row row--columns-6-6 row--columns-vertical-align offer offer--feature">

  <div class="row__column offer__image bg-image-ratio bg-image-ratio--16-9" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.details.class }}.jpg')">
    <a class="offer__image-link" id="image-link-{{ offer.details.class }}" href="{{ offer.link }}">
      {% include offer-label.html %}
    </a>
  </div>

  <div class="row__column offer__content">

    <h2 class="offer__content-title title"><a id="title-link-{{ offer.details.class }}" href="{{ offer.details.link }}">{{ offer.details.title }}</a></h2>
    <p class="offer__content-location title--sans title--kerning-wide">{{ offer.details.location | upcase }}</p>

    {% if offer.details.description %}
      <p class="lead-paragraph">{{ offer.details.description }}</p>
    {% endif %}

    <a id="button-link-{{ offer.details.class }}" href="{{ offer.details.link }}" class="btn btn--solid">From <strong>{{ offer.details.price }}</strong> {{ offer.details.price-description }}</a>

  </div>

</div>

{% elsif include.class == 'wide' %}

<div class="row row--columns-6-6 offer offer--wide">

  <div class="row__column offer__image bg-image-ratio bg-image-ratio--16-9" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.details.class }}.jpg')">
    <a class="offer__image-link" id="image-link-{{ offer.details.class }}" href="{{ offer.link }}">
      {% include offer-label.html %}
    </a>
  </div>

  <div class="row__column offer__content">

    <h2 class="offer__content-title title title--xs"><a id="title-link-{{ offer.details.class }}" href="{{ offer.details.link }}">{{ offer.details.title }}</a></h2>
    <p class="offer__content-location title--sans title--kerning-wide">{{ offer.details.location | upcase }}</p>

    {% if offer.details.description %}
      <p class="small">{{ offer.details.description }}</p>
    {% endif %}

    <a id="button-link-{{ offer.details.class }}" href="{{ offer.details.link }}" class="btn btn--solid">From <strong>{{ offer.details.price }}</strong> {{ offer.details.price-description }}</a>

  </div>

</div>

{% else %}

<div class="row__column offer">

  <div class="offer__image bg-image-ratio bg-image-ratio--16-9" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.details.class }}.jpg')">
    <a class="offer__image-link" id="image-link-{{ offer.details.class }}" href="{{ offer.link }}">
      {% include offer-label.html %}
    </a>
  </div>

  <div class="offer__content">

    <h2 class="offer__content-title title title--sm"><a id="title-link-{{ offer.details.class }}" href="{{ offer.details.link }}">{{ offer.details.title }}</a></h2>
    <p class="offer__content-location title--sans title--kerning-wide">{{ offer.details.location | upcase }}</p>

    {% if offer.details.description %}
      <p>{{ offer.details.description }}</p>
    {% endif %}

    <a id="button-link-{{ offer.details.class }}" href="{{ offer.details.link }}" class="btn btn--solid">From <strong>{{ offer.details.price }}</strong> {{ offer.details.price-description }}</a>

  </div>

</div>

{% endif %}

