---
layout: content
title: Lindor
class: lindor
nav-order: 7
---

<section class="banner-overlap section--padding-none">
  <div class="row row--padding">
    <div class="intro intro--white">
      <div class="intro__wrap">
        <h3 class="title title--margin title--hr title--hr-center"><span class="title--italic">Treat yourself to</span> LINDOR <span class="title--italic">bliss</span></h3>
        <p>Nothing speaks the language of indulgence better than a LINDOR chocolate truffle. Perfectly round, the Lindt milk chocolate gives way to an irresistibly smooth melting filling. Share this moment with someone, or keep it to yourself – each will guarantee a moment of bliss.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row row--padding row--columns-7-5-gutters row--columns-vertical-align">
    <div class="row__column">
      <h3 class="title title--italic title--margin">The Lindt Master Chocolatier</h3>
      <p>Since 1845 the Lindt Master Chocolatiers have been creating the ultimate chocolate delights. From sourcing the finest quality cocoa beans, to pioneering the conching process that makes Lindt chocolate so irresistibly smooth and silky, Lindt chocolates are defined by the passion for innovation that the Lindt Master Chocolatiers embody. Over 60 years ago the Lindt Master Chocolatier and his colleagues were busy creating delectable chocolate delights, and had no idea that they were about to come across something truly unique and as precious as the LINDOR chocolate truffle. The smooth melting centre has delivered moments of bliss ever since.</p>
    </div>
    <div class="row__column bg-image-ratio bg-image-ratio--4-3 image-pop" style="background-image: url({{ site.baseurl }}/img/content/lindor-chef.jpg);"></div>
  </div>
</section>

<!--========  Lindor Approved Breaks ========-->
<section class="section--white-bg">
  <div class="row row--padding align-center">
    <h2 class="title title--margin title--md">LINDOR <span class="title--italic">Selected Breaks</span></h2>
    <hr class="center">
      <p class="lead-paragraph">The Lindt Master Chocolatiers have hand-picked three unmissable romantic breaks, perfect for a weekend away that echoes the LINDOR luxury we know and love.</p>
    </div>

  {% assign lindor-offers = site.data.offers | where:"lindor","true" %}
  <!-- Featured break -->
  {% for offer in lindor-offers %}
    {% if offer.lindor-hero %}
      <div class="row row--padding">
        {% include offer-block.html class="feature" %}
      </div>
    {% endif %}
  {% endfor %}
  <div class="row row--padding row--columns-6-6-gutters">
  {% for offer in lindor-offers %}
    {% unless offer.lindor-hero %}
        {% include offer-block.html %}
    {% endunless %}
  {% endfor %}
  </div>

</section>