// modal specific


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-overlay;
  background-color: $black;
  background-color: $black-66;
  overflow: hidden;
  overflow-y: auto;
  &.is-open { display: block;}
  &.is-closed { display: none; }
  &__wrap {
    background-color: $white;
    border-radius: 3px;
    overflow: hidden;
    margin: 2em auto;
  }
  &__intro {
    border-bottom: 1px solid $light-grey;
    padding: ($margin / 2);
    @include bp(large){
      padding: $margin;
    };
  }
  &__content {
    padding: ($margin / 2) $margin;
  }
  &__close {
    position: absolute;
    right: 0;
    top: 0;
    height: 3em;
    width: 3em;
    background-color: $se-dark-grey-85;
    background-image: url('../img/icons/close.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
    cursor: pointer;
    z-index: $z-overlay-upper;
    @include transition;
    .svg & {
      background-image: url('../img/icons/close.svg');
    }
  }
}

.disable-scroll {
  overflow: hidden;
}