
// Offer block styles for {{ include offer-block.html }}



.offer {
  background-color: $white;
  box-shadow: 0 0 10px $black-15;
  margin-bottom: 2em;

  &__image {
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-size: cover;

    .offer--feature & {
      min-height: 16em;
    }
    .offer--wide & {
      @include bp(large) {
        position: absolute;
        top:0;left:0;bottom:0;right:0;
        height: auto;
      }
    }

  }
  &__image-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__content {
    overflow: hidden;
    padding: 20px;
    .offer--feature & {
      padding: 25px 30px;
      margin-top: 0;
    }
    .offer--wide & {
      padding: 0 20px 20px;
      @include bp(large) {
        padding: 20px;
      }
    }
  }
  &__content-location {
    font-size: 0.9em;
    &:before {
      content: "";
      display: inline-block;
      height: 1em;
      width: .833em;
      margin-right: .482em;
      margin-bottom: .2em;
      vertical-align: middle;
      background-image: url( "../img/icons/map-pin.png" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
      .svg & { background-image: url( "../img/icons/map-pin.svg" ); }
    }
  }
  &__content-price {
    font-weight: bold;
    font-size: 1.44em;
  }



  &__label {
    position: absolute;
    z-index: 0;
    top: 1em;
    left: 1em;
    padding: 0 1.5em;
    background-color: $dark-grey;
    color: white;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    &-lindor { background-color: $partner-primary; }
    &-hero { background-color: $partner-secondary; }
    &-expert {}

    &:hover &__description {
      display: block;
    }
    &__description {
      display: none;
      position: absolute;
      left: 0;
      width: 160px;
      font-weight: 400;
      text-transform: none;
      letter-spacing: 0;
      background-color: rgba(0, 0, 0, 0.75);
      padding: 6px 12px;
      top: 25px;
      border-radius: 3px;
    }
  }

}



