


body {
  background-color: $light-grey;
}

/*=========================================================
   ---------- CUSTOM SECTIONS ----------
   Areas styled with custom content/interactive elements
=========================================================*/


// ---------- Footer ----------

.site-footer {
  padding-top: 3em;
  padding-bottom: 3em;
  color: darken( $white, 20 );
  font-size: .8em;
  font-weight: 400;
  background-color: $black;

  .logo {
    display: block;
    text-align: center;
    @include bp(large) {
      display: inline-block;
    }
  }

  .footer-nav {
    @include bp(large) {
      display: flex;
      flex-flow: row nowrap;
      li { flex-grow: 1; }
    }
    &__link {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      padding: 2px 5px;
      display: inline-block;
    }
  }
}


// ---------- Banner ----------

.banner {
  position: relative;
  z-index: -1;
  padding-top: 150px;
  padding-bottom: 300px;
  color: $white;
  background-color: $se-light-grey;
  background: $se-light-grey center no-repeat;
  background-size: cover;
  background-position: center;
  &__title {
    letter-spacing: 0.3em;
    line-height: 1;
    text-shadow: 0 0 60px #2f1d28;
    // wierd fix to keep hr to length of word and not 100%, when on two lines e.g. romantic breaks
    max-width: 0;
    overflow: visible;
  }
  &__title-wrap {
    display: inline-block;
    padding-bottom: 25px;
    border-bottom: 3px double $white-75;
  }
  &__content {
    display: block;
    float: left;
    padding-top: 15px;
    text-shadow: 0 0 20px #2f1d28;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0; left: 0;
    height: 30%;
    width: 100%;
    z-index: 0;
    background: -moz-linear-gradient(top,  rgba(248,248,248,0) 0%, $light-grey 100%);
    background: -webkit-linear-gradient(top,  rgba(248,248,248,0) 0%,$light-grey 100%);
    background: linear-gradient(to bottom,  rgba(248,248,248,0) 0%,$light-grey 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f8f8', endColorstr='$light-grey',GradientType=0 );
  }
}

.banner-overlap {
  margin-top: -200px;
}


// ---------- Page intro ----------

.intro {
  padding: 5px;
  text-align: center;
  &__wrap {
    display: inline-block;
    width: 100%;
    padding: ($margin/1.5) $margin;
    p {
      margin-left: auto;
      margin-right: auto;
      text-align: justify;
      text-align-last: center;
    }
  }
  &--white { background-color:$white-5; }
  &--white &__wrap { background-color: $white; }
  &--partner-primary { background-color: $partner-primary-5; }
  &--partner-primary &__wrap { background-color: $partner-primary; }
}


// ---------- Competition section ----------

.competition-section {
  &__content {
    text-align: left;
  }
  &__wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: ($xxxlarge/2);
  }
  @include bp(large) {
    height: 480px;
    &__image {
      height: 100%;
    }
  }
}


// ---------- Expert section ----------

.expert-section {
  background-color: $partner-primary;
  width: 100%;
  margin-bottom: 2em;
  @include bp(large) {
    border-top: 5px solid  $white-5;
    border-left: 5px solid  $white-5;
    border-bottom: 5px solid  $white-5;
  }

  &__content {
    padding: 25px 25px 0;
    @include bp(large) { padding: 25px; }
  }
  &__offer {
    @include bp(large) {
      margin-top: -2em !important;
      margin-bottom: -2em;
    }
  }
}

.expert-offer {
  background-color: $white;
  box-shadow: 0 0 10px $black-15;
  &__content {
    overflow: hidden;
    padding: 15px 20px;
    text-align: center;
    @include bp(large) {
      display: flex;
      align-items: center;
      text-align: left;
    }
  }
  &__btn {
    text-align: center;
    @include bp(large) { text-align: right; }
  }
  &__content-location {
    &:before {
      content: "";
      display: inline-block;
      height: 1em;
      width: .833em;
      margin-right: .482em;
      margin-bottom: .2em;
      vertical-align: middle;
      background-image: url( "../img/icons/map-pin.png" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
      .svg & { background-image: url( "../img/icons/map-pin.svg" ); }
    }
  }
}


// ---------- Overview page ----------

.overview-nav {
  &__item {
    display: block;
    margin-bottom: 2em;
  }
  &__content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    border: 5px solid  $white-5;
    @include transition;
    &:hover {
      background-color: $black-33;
    }
  }

  &__title {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%; transform: translateY(-50%);
    &:before, &:after {
      content: "";
      width: 80px;
      position: absolute;
      left: 50%; margin-left: -40px;
      border-top: 3px double $white-75;
    }
    &:before { top: -0.25em; }
    &:after { bottom: -0.35em; }
  }
}


// ---------- Offers page ----------

.offer-region {
  background-color: #fff;
  box-shadow: 0 0 10px $black-15;
  margin-bottom: 2em;
  margin-top: 3em;
  & + & { margin-top: 5em; }
  &__image {
    @include bp(large) {
      position: absolute;
      top:0;left:0;bottom:0;right:0;
      height: auto;
    }
  }
  &__title { position: absolute; top: 30px; left: 30px; right: 30px; }

  &__content {
    padding: 0 25px 30px;
    @include bp(large) { padding: 20px 30px; }
  }
  .offer { margin-bottom: 0; }
  @include bp(large) {
    &__content { padding: 20px 30px 0 30px; }
    .offer { margin-bottom: -2em; }
  }
}


// ------------- Lindor page

.lindt-lindor {
  .banner {
    background-image: url('../img/bg/banner-lindt-lindor.jpg');
    background: url('../img/bg/lindor-pour-bg.png') 70% -80px / 280px no-repeat, url('../img/bg/banner-lindt-lindor.jpg') center / cover no-repeat;
  }
}


// ---------- Entered Page ----------

.fancy-number {
  display: inline-block;
  margin-top: .25em;
  margin-bottom: .25em;
  color: $partner-purple;
  font-family: $title-font-family;
  font-style: italic;
  font-size: 3.375em;
  line-height: 0;
}

.entered {
  .banner__content {
    text-align: center;
    text-shadow: 0px 2px 60px rgb(69,16,16),  0px 2px 60px rgb(69,16,16);
    float: none;
  }
  .countdown {
    text-align: center;
    margin: auto;
    margin-bottom: 1.5em;
    &__wrap {
      position: relative;
      display: block;
    }
    &__unit {
      display: inline-block;
      padding-left: .5em;
      padding-right: .5em;
      font-style: italic;
      font-size: 4em;
      font-weight: 300;
      line-height: 1.25;
      color: $partner-primary;
    }
    &__label {
      display: block;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: .25em;
      font-weight: 400;
      color: $text-black;
    }
  }
}
