// general typographic styles


// -------- root typography styles --------

$core-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$main-font-family: 'Roboto', 'Helvetica Neue', sans-serif;
$title-font-family: 'Playfair Display', 'Helvetica Neue', sans-serif;

html { font-size:62.5%; }
body,
input, textarea, keygen, select, button {
  font: 400 14px/1.728 $main-font-family;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  @include bp(medium) {
    font-size: 15px;
  }
  color: $text-paragraph;
}

// -------- Headings --------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: $title-font-family;
  color: $text-title;
  line-height: 1.2;
}

.title {
  color: $text-title;
  font-family: $title-font-family;
  font-size: 2.2em;
  line-height: 1.2;
  letter-spacing: 0.03em;
  + * { margin-top: .2em; }

  &--sans { font-family: $main-font-family; }
  &--italic { font-style: italic; }

  &--margin    { margin-bottom: 0.5em; }

  &--xxl    { font-size: 2.986em; }
  &--xl     { font-size: 2.488em; }
  &--lg     { font-size: 2.25em; }
  &--md     { font-size: 2.074em; }
  &--sm     { font-size: 1.728em; }
  &--xs     { font-size: 1.44em; }
  &--xxs    { font-size: 0.9em; }

  &--light     { font-weight: 200; }
  &--medium    { font-weight: 300; }
  &--bold      { font-weight: 600; }
  &--bolder    { font-weight: 800; }
  &--expanded  { letter-spacing: .2em; }
  &--condense  { letter-spacing: 0; }
  &--tight     { line-height: .9; }
  &--lower     { text-transform: initial; }

  &--kerning-wide { letter-spacing: 0.06em; }
  &--kerning-xwide { letter-spacing: 0.16em; }

  &--hr:after {
    content: '';
    display: block;
    height: 3px;
    width: 50%;
    margin-top: 15px;
    margin-bottom: 22px;
    border-bottom: 3px double $partner-purple-33;
  }
  &--hr-center:after{
    margin-left: auto;
    margin-right: auto;
  }
  &--hr-special {
    display: inline-block;
    &:after{
      content: '';
      display: block;
      width: 50%;
      height: 0px;
      margin: 15px auto;
      border-top: 3px double $white-85;
    }
  }

  @include bp(large) {
    &--xxl { font-size: 5.16em; }
    &--xl  { font-size: 4.3em; }
    &--lg  { font-size: 3.375em; }
    &--md  { font-size: 2.488em; }
    &--sm  { font-size: 2.25em; }
  }

}


// -------- Lists --------

ul {
  li {}
}

ol {
  li {}
}

dl {
  dt { margin-bottom: 5px; }
  dd {}
}

.list {
  &--horizontal {
    list-style: none; padding: 0; margin: 0;
    li {
      width: 100%;
      display: inline-block;
      position: relative;
      padding: 0 1em;
      @include bp(large) {
        width: auto;
      }
    }
    @include bp(large) {
      li + li:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        height: 100%;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.15);
        transform: translateY(-50%);
      }
    }
  }
  &--lined {
    li {
      list-style: none;
      font-size: 0.9em;
      padding: 4px 0;
    }
    li + li { border-top: 1px solid $light-grey; }
  }
}


// ---------- button ----------

.btn {
  @include transition;
  display:inline-block;
  padding: .55em 1em .4em;
  min-width: 150px;
  border: 2px solid $partner-primary;
  letter-spacing: 0.05em;
  font-size: 0.9em;
  color: $partner-primary;
  font-weight: 400;
  text-align: center;
  border-radius: 3px;
  &:hover {
    color: white;
    background-color: $partner-primary;
    text-decoration: none;
  }
  * + & { margin-top: 1.5em; }
  * + &--inline { margin-top: 0; }

  &--solid { color: white; border: 0; background-color: $partner-primary; }
  &--large { font-size: 1.2em; padding: .6em 3em; }
}


// ---------- images ----------

.image-pop {
  border-radius: 3px;
  box-shadow: 0 0 5px $black-25;
}

// -------- general content styles --------

p             { max-width: 720px; }
p + *         { margin-top: 1em; }
.lead-paragraph { font-size: 1.2em; line-height: 1.4; }
li            { list-style-position: inside; }
ul li         { list-style-type: disc; }
ol li         { list-style-type: decimal; }
em            { font-style: italic; }
strong        { font-weight: 800; }
.small        { font-size: 0.9em; line-height: 1.5; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center; }
p.align-center,
.align-center p { margin-left: auto; margin-right: auto; }

.color-white {
  color: #fff;
  p,h1,h2,h3,h4,h5,h6,
  .h1,.h2,.h3,.h4,.h5,.h6 { color: #fff; }
  hr { border-color: $white-15; }
}

.color-default {
  color: $text-paragraph;
  p,h1,h2,h3,h4,h5,h6,
  .h1,.h2,.h3,.h4,.h5,.h6 { color: $text-title; }
  hr { border-color: $black-25; }
}

hr {
  border: 0;
  border-top: 3px double $black-25;
  margin: 1.5em 0;
  &.center { width: 80px; margin-left: auto; margin-right: auto; }
}


