<section class="bg--white">
  <div class="henry henry--swap">
    <div class="henry__image" style="background-image:url({{site.baseurl}}/img/bg/competition-promo.jpg);"><a id="track-pay-for-break-img" class="henry__link" href="{{site.baseurl}}/offers"></a></div>
    <div class="henry__text">
      <div class="row row--lg text--center text--bp-left">
        <h3 class="title title--xl text--red-dark"><span>Win with LINDOR</span></h3>
        <hr>
        <div>
          <p class="text--lg row--md row--align">Book any hotel with Secret Escapes and be in with a chance to have your break reimbursed in full.</p>
        </div>
        <a id="track-pay-for-break-btn" href="{{site.baseurl}}/offers" class="btn btn--red-dark">View Offers</a>
      </div>
    </div>
  </div>
</section>