<section class="bg--white">
  <div class="henry henry--swap">
    <div class="henry__image" style="background-image:url({{site.baseurl}}/img/bg/competition-promo.jpg);"><a class="henry__link" href="{{site.baseurl}}/competition"></a></div>
    <div class="henry__text">
      <div class="row row--lg">
        <h3 class="title title--xl text--red-dark"><span>Win with LINDOR</span></h3>
        <hr>
        <div class="row--md">
          <p class="text--lg">Book any hotel with Secret Escapes and be in with a chance to have your break reimbursed in full.</p>
        </div>
        <a href="{{site.baseurl}}/competition" class="btn btn--red-dark">Find Out More</a>
      </div>
    </div>
  </div>
</section>