<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body id="top" class="page--{{page.id}}{% if page.group %} group--{{page.group}}{% endif %}" data-current-page="{{page.id}}"{% unless page.no-bg %} style="background-image: url({{site.baseurl}}/img/bg/{{page.id}}.jpg);"{% endunless %}>

    {% include page/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}

    <div class="page__content">

      {{ content }}

    </div>

    {% if page.id == 'offers' %}
      {% include components/offer-promo.html %}
    {% endif %}

    {% include page/footer.html %}

    {% include modal/modal.html %}

  </body>

</html>