---
layout: content
title: Offers
class: offers
nav-order: 5
overview-nav-order: 4
banner-content: Browse all the curated Secret Escapes breaks below for that perfect romantic getaway.
---

<section class="banner-overlap section--padding-none">
  <div class="row row--padding">
    <div class="intro intro--white">
      <div class="intro__wrap">
        <h3 class="title title--italic title--margin title--hr title--hr-center">Book a romantic getaway and don't spend a penny</h3>
        <p>ou could book the romantic trip of a lifetime and not even spend a penny. A lucky five bookings will have the opportunity to have any of the below Secret Escapes romantic getaways paid for in full, courtesy of Lindor. Book any romantic stay of up to three nights with Secret Escapes and be automatically entered into the draw.</p>
        <p>Book between 27 January and 13 February and you may just be lucky enough to be selected.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row row--columns-4-4-4-gutters row--padding">
    {% assign offers = site.data.offers %}
    {% for offer in offers %}
      {% include offer-block.html %}
    {% endfor %}
  </div>
</section>