<div class="modal modal--standard is-closed" data-modal-id="{{modal.id}}">
  <div class="js-close-modal modal__close"></div>
  <div class="modal__expert">
    <div class="section row row--padding row--4-8-gutters row--valign">
      <div class="col">
        <div class="expert border bg-img bg-img--1-1" style="background-image: url({{ site.baseurl }}/img/content/experts/{{ modal.id }}.jpg);"></div>
      </div>
      <div class="col">
        <h4 class="title title--xl text--red-dark mobile-center">
          {{ modal.name1 }}
          {% if modal.name2 %}
          & {{ modal.name2 }}
          {% endif %}
        </h4>
      </div>
    </div>
    {% for question in modal.questions %}
    <div class="section row--padding modal__question page__content">
      <p class="text--bold">{{ question.question }}</p>
      {{ question.answer }}
    </div>
    {% endfor %}
  </div>
</div>